{% extends 'partials/base.html.twig' %}

{% block content %}
<div id="primary" class="content-area">
  <main id="main" class="site-main" role="main">
    <section class="error-404 not-found">
      <div class="row">
        <div class="large-12 columns">
          <header class="page-header">
            <h1 class="page-title">Error {{ page.header.http_response_code }}</h1>
          </header>
        </div>
      </div>
      <div class="page-content">
        <div class="row">
          <div class="large-12 columns">
            <p>{{ page.content }}</p>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
{% endblock %}
