{% embed 'partials/base.html.twig' %}

{% set the_base_url = page.parent.url %}
{% set feed_url = the_base_url %}

{% if the_base_url == '/' %}
{% set the_base_url = '' %}
{% endif %}

{% if the_base_url == base_url_relative %}
{% set feed_url = the_base_url~'/'~page.parent.slug %}
{% endif  %}

{% block content %}
<div class="row">
  <div id="primary" class="content-area">

    <div class="large-{% if not page.header.fullwidth %}8{% else %}12{% endif %} columns">
      <main id="main" class="site-main" role="main">
        <div class="row">
          {% include 'partials/blog_item.html.twig' with {'truncate':false,'big_header':true} %}
        </div>
      </main>
    </div>

    {% if not page.header.fullwidth %}
    <div class="large-3 large-offset-1 columns">
      <div id="secondary" class="widget-area">
        {% include 'partials/sidebar.html.twig' %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
{% endembed %}
