{% extends 'partials/simplesearch_base.html.twig' %}

{% block content %}
<div class="row">
  <div id="primary" class="content-area">
    <div class="large-{% if not page.header.fullwidth %}8{% else %}12{% endif %} columns">
      <main id="main" class="site-main" role="main">
        <article class="page type-page status-publish hentry">
          <header class="entry-header">
            <h2 class="entry-title">
              Query: <strong>{{ query }}</strong> found {{ search_results.count }} {{ 'result'|pluralize(search_results.count) }}
            </h2>
          </header>
          <div class="entry-content">
            {% for page in search_results %}
                {% include 'partials/simplesearch_item.html.twig' with {'page':page} %}
            {% endfor %}
          </div>
        </article>
      </main>
    </div>
    {% if not page.header.fullwidth %}
    <div class="large-3 large-offset-1 columns">
      <div id="secondary" class="widget-area">
        {% include 'partials/sidebar.html.twig' %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
